<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Eventos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- FullCalendar CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.7/index.global.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Eventos por Realizar</a>
        <a href="{{ url_for('agregar_evento') }}">Agregar Evento</a>
        <a href="{{ url_for('eventos_realizados') }}">Eventos Realizados</a>
        <a href="{{ url_for('calendario') }}">Calendario</a>
    </nav>
    <h1>Calendario de Eventos</h1>
    <div id="calendar"></div>

    <!-- FullCalendar JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.7/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: '/api/eventos', // Cargar los eventos desde la ruta proporcionada por Flask
                locale: 'es', // Cambiar el idioma del calendario a español
                eventClick: function(info) {
                    alert(info.event.title + "\n" + info.event.extendedProps.description);
                }
            });
            calendar.render();
        });
    </script>
</body>
</html>
